    <header>
        <div class="row">
           <img class="se-banner col" src="~/img/sebanner.jpg"/>
           <img class="se-banner col" src="~/img/sebanner1.jpg"/>
           <img class="se-banner col overflow-hidden" src="~/img/sebanner3.jpg"/>
        </div>
   </header>