<nav class="se-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="~/img/brb.jpg" style="width:100%">
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>Trang chủ</p>
  </a>
@*  <a href="#about" class="w3-bar-item w3-button w3-padding-large">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>Về người viết</p>
  </a>*@
  <a href="/RandomMember" class="w3-bar-item w3-button w3-padding-large">
    <i class="fa fa-leaf w3-xxlarge"></i>
    <p>Random member</p>
  </a>
 @* <a href="#contact" class="w3-bar-item w3-button w3-padding-large">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>Liên hệ</p>
  </a>*@
</nav>