@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">Đây là ứng dụng dành cho SBTC được phát triển bởi Ngô Trọng aka Runan</h1>
    <p><a target="_blank" href="https://www.facebook.com/profile.php?id=100082686554417">Fanpage của tui    <i class="fa fa-facebook-official w3-hover-opacity"></i></a></p>
    <p><a target="_blank" href="https://www.facebook.com/ring.sagezz/">Facebook cá nhân    <i class="fa fa-facebook-official w3-hover-opacity"></i></a></p>
</div>


<div class="text-center">
    <p class="display-4">Mọi người có thể góp ý , hoặc share ý tưởng phát triển những công cụ hỗ trợ cho mọi người thông qua email ring.sagezz@gmail.com</p>
</div>